<section class="p-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="h1 mb-3"><i class="bi bi-laptop"></i></div>
            <h3 class="card-title mb-3">Virtual</h3>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam
              in iusto quam cupiditate sapiente!
            </p>
            <a href="#" class="btn btn-primary card-btn">Read More</a>
          </div>
        </div>
        
          <div class="col-md">
              <div class="card bg-secondary text-light">
                <div class="h1 mb-3"><i class="bi bi-person-square"></i></div>
                <h3 class="card-title mb-3">Hybrid</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam
                  in iusto quam cupiditate sapiente!
                </p>
                <a href="#" class="btn btn-dark card-btn">Read More</a>
              </div>
        </div>
        
          <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="h1 mb-3"><i class="bi bi-people"></i></div>
                <h3 class="card-title mb-3">In Person</h3>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam
                  in iusto quam cupiditate sapiente!
                </p>
                <a href="#" class="btn btn-primary card-btn">Read More</a>
              </div>
        
      </div>
    </div>
  </section>