<div
  class="modal fade"
  id="enroll"
  tabindex="-1"
  role="dialog"
  aria-labelledby="enrollLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="enrollLabel">Modal title</h5>
        <button
          type="button"
          class="close btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">Fill out this form and we will get back to you.</p>
        <form>
          <div class="form-group">
            <label for="first-name ">Enter your first name </label>
            <input
              type="text"
              class="form-control mb-3 mt-1"
              id="first-name"
              aria-describedby="emailHelp"
              placeholder="First Name "
            />
          </div>
          <div class="form-group">
            <label for="last-name">Enter your last name </label>
            <input
              type="text"
              class="form-control mb-3 mt-1"
              id="last-name"
              aria-describedby="emailHelp"
              placeholder="Last Name "
            />
          </div>
          <div class="form-group">
            <label for="email">Email addres </label>
            <input
              type="email"
              class="form-control mb-3 mt-1"
              id="email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="phone">Phone </label>
            <input
              type="tel"
              class="form-control mb-3 mt-1"
              id="phone"
              placeholder="Phone Number"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
